{% extends "base.html" %} {% load static %} {% block content %}

<div class="breadcumb-area">
  <div class="container h-100">
    <div class="row h-100 align-items-end">
      <div class="col-12">
        <div class="breadcumb--con">
          <h2 class="title">Profile</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index.html' %}"><i class="fa fa-home"></i>Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Profile Page Start -->

  <div class="row mt-3">
    <div class="col">
      <header>
        {% if user.is_authenticated %}
        <p>
          Hello, {{ user.username }}! |
          <a href="{% url 'change_password' %}" class="btn btn-primary btn-sm"
            >Change Password</a
          >
          |
          <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
        </p>
        {% endif %}
      </header>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h2>Welcome, {{ user.username }}!</h2>
      <p>First Name: {{ user.userprofile.fname }}</p>
      <p>Last Name: {{ user.userprofile.lname }}</p>
      <p>Bio: {{ user.userprofile.bio }}</p>
      <p>Email: {{ user.userprofile.email }}</p>
      <p>Birthdate: {{ user.userprofile.birthdate }}</p>
      <p>Contact: {{ user.userprofile.contact }}</p>
      <p>Gender: {{ user.userprofile.gender }}</p>
      <p>Address: {{ user.userprofile.address }}</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <a href="{% url 'edit_profile_user' %}" class="btn btn-info"
        >Edit Profile</a
      >
    </div>
  </div>
</div>
<!-- Privacy End -->
<br><br>


{% endblock content %}
