{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="bethany-services-section mb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-30">
            <img src="{% static 'images/banner/2.jpg' %}" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Wedding Planner</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-12">
            <p>
              As your dedicated wedding planner, I am committed to bringing your
              dream wedding to life with meticulous attention to detail and
              unwavering dedication. From the initial consultation to the grand
              finale, I will work tirelessly to ensure that every aspect of your
              special day is executed flawlessly. Whether you envision a
              romantic garden affair, a chic urban celebration, or a lavish
              destination wedding, my team and I will work closely with you to
              tailor every element to reflect your unique style and personality.
              With our expertise and passion for creating unforgettable
              experiences, you can relax and enjoy every moment knowing that
              your wedding day is in capable hands.
            </p>
            <br />
          </div>
          <div class="col-md-12">
            <h5>Package Includes</h5>
            <p><b>1.</b> Weddings & Events Workbook</p>
            <p>
              <b>2.</b> Unlimited access to expert wedding advice (via e-mail)
            </p>
            <p><b>3.</b> Access to Preferred Vendors List</p>
            <p><b>4.</b> Wedding Assistant for wedding day</p>
            <p>
              <b>5.</b> Oversee and help with ceremony/reception site set up &
              tear down
            </p>
            <p><b>6.</b> Review of Vendor contracts</p>
            <p>
              <b>7.</b> Distribute final payments and gratuities to vendors as
              necessary
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 gallery-item">
            <a
              href="{% static 'images/blog/a.jpg' %}"
              title=""
              class="img-zoom"
            >
              <div class="gallery-box">
                <div class="gallery-img">
                  <img
                    src="{% static 'images/blog/a.jpg' %}"
                    class="img-fluid mx-auto d-block"
                    alt=""
                  />
                </div>
                <div class="gallery-detail text-center">
                  <i class="ti-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 gallery-item">
            <a
              href="{% static 'images/blog/b.jpg' %}"
              title=""
              class="img-zoom"
            >
              <div class="gallery-box">
                <div class="gallery-img">
                  <img
                    src="{% static 'images/blog/b.jpg' %}"
                    class="img-fluid mx-auto d-block"
                    alt=""
                  />
                </div>
                <div class="gallery-detail text-center">
                  <i class="ti-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 gallery-item">
            <a
              href="{% static 'images/blog/c.jpg' %}"
              title=""
              class="img-zoom"
            >
              <div class="gallery-box">
                <div class="gallery-img">
                  <img
                    src="{% static 'images/blog/c.jpg' %}"
                    class="img-fluid mx-auto d-block"
                    alt=""
                  />
                </div>
                <div class="gallery-detail text-center">
                  <i class="ti-heart"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 gallery-item">
            <a href="{% static 'images/blog/d.jpg' %}" title="" class="img-zoom">
              <div class="gallery-box">
                <div class="gallery-img">
                  <img
                    src="{% static 'images/blog/d.jpg' %}"
                    class="img-fluid mx-auto d-block"
                    alt=""
                  />
                </div>
                <div class="gallery-detail text-center">
                  <i class="ti-heart"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
